<IfModule mod_rewrite.c>
    RewriteEngine On

    # Force SSL
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    # Remove public folder form URL
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule> 

Header Set Access-Control-Allow-Origin "*"
Access-Control-Allow-Methods:*
Header set Access-Control-Allow-Headers "Content-Type"
Header unset "X-Powered-By"

# Extra Security Headers
<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
	Header always append X-Frame-Options SAMEORIGIN
	Header set X-Content-Type-Options nosniff 
    Header always set Expect-CT "enforce, max-age=300, report-uri='https://www.wiqaia.org/'" 
    Header set Feature-Policy "geolocation 'self'; vibrate 'none'"
</IfModule>

